@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100&display=swap');

$color-red: #E65C43;
$color-white: #FFF;
$color-grey: #666;
$color-footer-greybar: #F5F6F6;
$color-footer-background: #30353D;
$color-headline: #F25C43;
$body-font: 'Roboto';

$base-url: '../images';
$img-body-bg: '#{$base-url}/bg.gif';
$img-main-logo: '#{$base-url}/logo.png';
$img-social-media: '#{$base-url}/social-media.png';